.status_wrapper {}

.status_wrapper p:first-child {
    font-size: 12px;
    color: rgba(113, 121, 134, 1);
}

.status_wrapper p:last-child {
    color: rgba(240, 187, 0, 1);
    font-size: 13px;
    position: relative;
    font-weight: 600;
    margin-top: 5px;
}

.status_wrapper p:last-child::before {
    content: '';
    width: 7px;
    height: 7px;
    color: #F0BB00;
    border-radius: 50%;
    background-color: #F0BB00;
    position: absolute;
    left: -10px;
    top: 5px;
    bottom: 0;
}